@import url('https://fonts.googleapis.com/css2?family=Prompt:wght@100;400&display=swap');

html {
  background-color: #221F30;
  color: white;
  text-align: center;
  align-content: center;
}

h1,h2,h3 {
   font-family: "Prompt";
}

span {
  font-family: monospace;
}

.container {
	background-color: #221F30;
	color: white;
	padding: 10px 20px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	margin: 5px;
	border: 3px solid white;
    border-radius: 4px;
}

.container img {
	width: 30%;
	border-radius: 20px;
	aspect-ratio: 1 / 1;
}

.container h3 {
	font-size: 12px;
	float: right;
	margin-right: 10px;
	margin-top: 3px;
	margin-bottom: 3px;
}

.container a {
   color: white;
   font-family: monospace;
   text-align: center;
}

.container a:hover {
	scale: (1.1);
}