@import url('https://fonts.googleapis.com/css2?family=Prompt:wght@100;400&display=swap');

html {
  background-color: #221F30;
  color: white;
  text-align: center;
  align-content: center;
}

h1,h2,h3 {
   font-family: "Prompt";
}

p {
  font-family: monospace;
}

span {
  font-family: monospace;
}

.container {
	background-color: #221F30;
	color: white;
	padding: 10px 20px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	margin: 5px;
	border: 3px solid white;
    border-radius: 4px;
}

.container img {
	width: 30%;
	border-radius: 20px;
	aspect-ratio: 1 / 1;
}

.container h2 {
	font-size: 12px;
	float: right;
	margin-right: 10px;
	margin-top: 3px;
	margin-bottom: 3px;
}

.container a {
   color: white;
   font-family: monospace;
   text-align: center;
}

.container a:hover {
	scale: (1.1);
}

.search-bar {
	padding: 1px 87px 1px 52px;
	border: none;
	border-radius: 30px;
	font-size: 16px;
	font-family: monospace;
	width: 60vh;
	height: 44px;
	font-weight: 100;
	background-color: transparent;
	color: #fff;
	text-align: center;
	transition: all .2s ease-in-out; 
	outline: none;
	text-align: left;
  }

  header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #1c1c1c;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 9999;
  font-family: 'Prompt';
}